project:
  type: website

website:
  title: "KaraNiewoehnerProjects"
  navbar:
    left:
    - text: "Home"
      href: index.qmd
    - text: "Project 1"
      href: FinalProject.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

